<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet %><br>
    <%= f.text_field :tweet %>
  </div>
  <div class="field">
    <%= f.label :tweetid %><br>
    <%= f.number_field :tweetid %>
  </div>
  <div class="field">
    <%= f.label :retweet_count %><br>
    <%= f.number_field :retweet_count %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :sentiment %><br>
    <%= f.text_field :sentiment %>
  </div>
  <div class="field">
    <%= f.label :sentiment_score %><br>
    <%= f.text_field :sentiment_score %>
  </div>
  <div class="field">
    <%= f.label :trend_id %><br>
    <%= f.number_field :trend_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
