<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.tweet %>
</p>

<p>
  <strong>Tweetid:</strong>
  <%= @tweet.tweetid %>
</p>

<p>
  <strong>Retweet count:</strong>
  <%= @tweet.retweet_count %>
</p>

<p>
  <strong>Language:</strong>
  <%= @tweet.language %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @tweet.country_code %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @tweet.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @tweet.latitude %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @tweet.sentiment %>
</p>

<p>
  <strong>Sentiment score:</strong>
  <%= @tweet.sentiment_score %>
</p>

<p>
  <strong>Trend:</strong>
  <%= @tweet.trend_id %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
